{% extends "base.html" %}
{% block content %}

<body>
    <h1>Users List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        {%for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"required>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age"required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="city">City:</label>
        <input type="text" id="city" name="city"required>
        <button type="submit">Add User</button>
    </form>
{% endblock %}